body{
	background-color: #c0c5ce;
}

.container{
	width: 65%;
	margin: 0 auto;
	text-align: center;
	background-color: #65737e;
	padding: 4%;
}

.container img{
	max-width: 250px;
	padding: 4px;
}

#elementos{
	padding: 2%;
}